.file-input-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 10px;
}

.diary-form {
  padding: 20px;
  /* background-color: #f0f0f0; */
  border-radius: 8px;
}

.diary-form-container {
  background-color: #decfd372;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.diary-form label,
.diary-form input,
.diary-form textarea {
  margin-bottom: 10px;
}

.selected-photos {
  margin-top: 10px;
  grid-column-start: 2;
  text-align: left;
}
li {
  /* list-style: none; */
  text-align: left;
}

.submit-button-container {
  text-align: center;
  margin-top: 20px;
  grid-column-start: 2;
}

@media screen and (max-width: 768px) {
  .submit-button-container {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.submit-button:hover {
  background-color: #ac9d86;
}

input {
  color: #69626d;
}

.file-input-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  grid-column-start: 2;
}

.file-input-container input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.file-input-label {
  color: #69626d;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px dotted #69626d;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

.file-input-label:hover {
  background-color: #ac9d86;
  color: #69626d;
}

#file-input {
  display: none;
}

.create-entry-heading {
  text-align: left;
  margin-bottom: 5px;
}

.short-input {
  width: 150px;
}
