.file-input-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.file-input-container input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.file-input-label {
  background-color: #c1a9af;
  color: #69626d;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}
.file-input-label:hover {
  background-color: #ac9d86;
  color: #69626d;
  /* inner-border: 1px solid #69626d; */
}
