/* .form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #decfd3;
  color: #69626d;
}

.buttonLogin {
  background-color: #c1a9af;
  color: #69626d;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: #c1a9af;
  color: #69626d;
  /* inner-border: 1px solid #69626d; */
/* }

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: #c1a9af;
} */
