.about-page {
  padding: 2rem;
  text-align: center;
}

.about-page h1 {
  font-size: 2.5rem;
  color: #69626d;
  margin-bottom: 1rem;
  animation: none;
}

.about-page p {
  font-size: 1.2rem;
  color: #69626d;
  margin-bottom: 2rem;
}

.about-page h2 {
  font-size: 2rem;
  color: #69626d;
  margin-top: 2rem;
}

.profile-image {
  width: 200px;
  max-width: 100%;
  border-radius: 50%;
  border: 3px solid #c1a9af;
  margin-bottom: 1rem;
  animation: profileAnimation 3s ease-in-out;
}
@keyframes profileAnimation {
  0% {
    width: 50px;
  }
  100% {
    width: 200px;
  }
}

.creator-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: #69626d;
}

.contact-info a {
  color: #69626d;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: #c1a9af;
}
