/* NavBar.css */
.navbar {
  background-color: #69626d;
  color: #c1a9af;
  padding: 0;
  margin: 0;
  border: none;
  padding-left: 2%;
  padding-right: 4%;
  padding-top: 1%;
  right: 0;
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: #c1a9af;
}
.navbar-nav .nav-link.active {
  color: #c1a9af;
  font-weight: bold;
}

.nav-link:hover {
  color: #decfd3;
}

.container {
  margin: 0;
  padding: 0;
}

.logo-image {
  width: 100%;
  max-width: 200px;
}

.logo-image2 {
  width: 100%;
  max-width: 300px;
}
@media (max-width: 768px) {
  .logo-image2 {
    width: 100%;
    max-width: 200px;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    /* padding-left: 15px; */
  }
  .navbar-text {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .navbar-text {
    font-size: 20px;
  }
}

.navbar-body {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
  align-self: center;
}

@media (max-width: 767px) {
  .navbar {
    display: flex;
    flex-direction: row;
  }
  .navbar-nav.ml-auto {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navbar-toggler {
    margin-top: -5rem;
    margin-right: 0;
    margin-left: auto;
  }

  .collapse.navbar-collapse {
    justify-content: flex-start;
  }

  .navbar-collapse.show {
    background-color: #69626d;
    top: 100%;
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid #c1a9af;
    z-index: 100;
    position: relative;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
