/* WelcomePage.css */
.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #69626d;
}

.welcome-page h1 {
  font-size: 2.5rem;
  color: #deced3;
  margin-bottom: 1rem;
}

.welcome-page p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.logo-image1 {
  width: 500px;
  max-width: 800px;
  height: 200px;
  max-height: 200px;
  /* object-fit: contain; */
}
